*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: black;
}

#about_section{
    margin-top: 150px;
    height: 800px;
    text-align: left;
    line-height: 1.5;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-right:200px;
    margin-left:200px;
}

#title_section {
    background-image: url('images/transparent_background2.png');
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    position:absolute;
    right:0;
    top:0;
    z-index:1000;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.navlist{
    display:flex;
}

.centered_element{
    text-align: center;
}

.navlist a{
    color:white;
    margin-left:60px;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    border-bottom:2px solid transparent;
    transition:all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid white;
}

#menu-icon{
    color:white;
    font-size: 35px;
    z-index: 100001;
    cursor:pointer;
}

